[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "third-party/pimoroni-pico"]
	path = third-party/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico
[submodule "third-party/pico-extras"]
	path = third-party/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "third-party/pico-sdk"]
	path = third-party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
